- var pageTitle = "home page"
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="css/style.css")

    body 
    <i class="fa-brands fa-facebook"></i>
        .page.home-page
            include pug/layaout/sidebar
            .content-area content
                h1 #{pageTitle}
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, iusto. Eveniet obcaecati nobis quasi quia doloribus sit reiciendis, eos exercitationem accusamus temporibus libero enim, explicabo illo, rerum dolorem eum neque.
                
    script(src="http://localhost:35729/livereload.js?snipver=1") 