- var pageTitle = "home page"
doctype html
html(lang="en")
    head
    include pug/layout/meta
        title #{pageTitle}
    include pug/layout/style

    body 
        .page.home-page
            include pug/layout/sidebar
            .content-area 
                include pug/layout/header
                .content
                    h1 #{pageTitle}
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque sit excepturi nulla ipsam debitis maiores, veritatis neque odit quo. Necessitatibus aperiam itaque ex quae. Inventore aut aperiam incidunt assumenda nobis.
    include pug/layout/scripts